/* couleurs importantes */
.dark-blue {
    background-color: #333DC1;
}
.light-blue, body {
    background-color: #4A98FF;
}
.white {
    background-color: #ffffff;
}

/* mask publicité */
.mask {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 7%;
}

/* bordure des cadres et images */
.card, .img-fluid {
    border-radius: 15px;
}

/* bordure des boutons de cadres */
.orangeBorder {
    border: 2px solid orange;
}
a.orangeBorder:hover {
    color: white;
    background-color: orange;
}

.logo:hover {
    color: white;
}

.panier {
    top: 150px;
    right: 15px;
}

/* boutons navigation */
.nav-link { color: white; }
.menu a:hover { color: orange; }
nav a { font-size: 1.5rem; }